<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./adminMain.css" />
    <link rel="stylesheet" type="text/css" href="../nullstyle.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- bar -->
    <div class="bar">
      <div class="users">
        <img class="icon" src="../pics/people1.png" />
        <div class="bar-text">Пользователи</div>
      </div>
      <div class="travels">
        <img class="icon" src="../pics//quest.png" />
        <div class="bar-text">Вопросы</div>
      </div>
      <div class="personal-data">
        <img class="icon" src="../pics/admin.png" />
        <div class="bar-text">Мои данные</div>
      </div>
    </div>
    <div class="main">
      <nav>
        <button id="exit">→</button>
      </nav>
     <div class="teh">Вопросы для техподдержки</div>
     <div class="con">
       <div class="question-container">
       <div class="qu">Можете подробнее рассказать про тендер 05.05.2022?</div>
       <textarea></textarea>
       <button class="otv">Ответить</button>
      </div>
      <div class="question-container">
        <div class="qu">Хочу отменить тендер</div>
        <textarea></textarea>
        <button class="otv">Ответить</button>
       </div>
    </div>
    <script src="./adminQuestion.js"></script>
  </body>
</html>
