<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./choice.css" />
    <link rel="stylesheet" type="text/css" href="../nullstyle.css" />
    <title>Tender</title>
  </head>
  <body>
    <div class="window">
      <!-- authorization -->
      <div class="nav">
        <div class="logo">
          <img class="icon" src="../pics/logo.png" />
          <div id="logo-text">EzTender</div>
        </div>
        <div class="back-toAuth">Вернуться →</div>
      </div>
      <div class="registration">
        <div class="title">
          Выберите роль, на которую хотите зарегистрироваться:
        </div>
        <div class="people-container">
          <div class="zakazchik man">
            <img src="../pics/z.png" class="people" />
            <div class="name">Заказчик</div>
          </div>
          <div class="ispolnitel man">
            <img src="../pics/i.png" class="people" />
            <div class="name">Исполнитель</div>
          </div>
        </div>
      </div>
    </div>
    <script src="./choice.js"></script>
  </body>
</html>
