<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./mainMenu.css" />
    <link rel="stylesheet" type="text/css" href="../nullstyle.css" />
    <title>Tender</title>
  </head>
  <body class="bod">
    <nav class="img">
      <div class="left">
        <div class="logo">
          <img class="icon" src="../pics/logo.png" />
          <div id="logo-text">EzTender</div>
        </div>
      </div>
      <div class="right">
        <div class="main-nav">Главная</div>
        <div class="katalog">Каталог исполнителей</div>
        <div class="tender">Тендерная площадка</div>
        <div class="lichn-kab">Личный кабинет</div>
        <div class="sign">Войти →</div>
      </div>
    </nav>
    <main>
      <div class="title-kat">Каталог исполнителей</div>
      <table class="table-kat" border="1">
        <tr class="main-tr">
          <th class="th-kat">№</th>
          <th class="th-kat">Представитель</th>
          <th class="th-kat">Компания</th>
          <th class="th-kat">Вид предпринимательства</th>
          <th class="th-kat">Отрасль</th>
          <th class="th-kat">Город</th>
        </tr>
        <tr>
          <th>1</th>
          <th>Симонов А.С.</th>
          <th>Digital Pro</th>
          <th>Юридическое лицо</th>
          <th>Образование/Наука/Лабораторное оборудование</th>
          <th>Гомель</th>
        </tr>
        <tr>
          <th>2</th>
          <th>Симоненко Г.И.</th>
          <th>SHELL</th>
          <th>ИП</th>
          <th>Бизнес/Финансы/Экономика</th>
          <th>Ставрополь</th>
        </tr>
        <tr>
          <th>3</th>
          <th>Чепурченко А.О.</th>
          <th>Bibi</th>
          <th>Юридическое лицо</th>
          <th>Электротехника/ Электротехнические изделия</th>
          <th>Москва</th>
        </tr>
        <tr>
          <th>4</th>
          <th>Жукова А.Д.</th>
          <th>El Primo</th>
          <th>Юридическое лицо</th>
          <th>Энергетика</th>
          <th>Минск</th>
        </tr>
        <tr>
          <th>5</th>
          <th>Карнаухов В.В.</th>
          <th>Www Systems</th>
          <th>ИП</th>
          <th>Cфера услуг</th>
          <th>Барановичи</th>
        </tr>
        <tr>
          <th>6</th>
          <th>Митрошин К.В.</th>
          <th>zodak</th>
          <th>Юридическое лцо</th>
          <th>Cфера услуг/Торговля</th>
          <th>Гродно</th>
        </tr>
      </table>
    </main>
    <footer>
      <table class="footer-contacts">
        <tr>
          <th class="contactsth">Контакты для частных клиентов</th>
          <th class="contactsth">Контакты для бизнес-клиентов</th>
        </tr>
        <tr>
          <th class="skiny contactsth">Городской и мобильный номер</th>
          <th class="skiny contactsth">A1 MTS Life :)</th>
          <th class="skiny contactsth">Мы в соцсетях</th>
        </tr>
        <tr class="a">
          <th>
            <div><img src="../pics/tel1.png" /></div>
            <div class="numb">148</div>
          </th>
          <th>
            <div><img src="../pics/tel2.png" /></div>
            <div class="numb">5-146-728</div>
          </th>
          <th>
            <div class="to">
              <img class="fb contactsth" src="../pics/fb.png" />
              <img class="inst contactsth" src="../pics/inst.png" /><img
                class="vk contactsth"
                src="../pics/vk.png"
              /><img class="tw contactsth" src="../pics/tw.png" />
            </div>
          </th>
        </tr>
      </table>
    </footer>
  </body>
  <script src="./katalog.js"></script>
</html>
