<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./mainMenu.css" />
    <link rel="stylesheet" type="text/css" href="../nullstyle.css" />
    <title>Tender</title>
  </head>
  <body>
    <nav class="img">
      <div class="left">
        <div class="logo">
          <img class="icon" src="../pics/logo.png" />
          <div id="logo-text">EzTender</div>
        </div>
      </div>
      <div class="right">
        <div class="main-nav">Главная</div>
        <div class="katalog">Каталог исполнителей</div>
        <div class="tender">Тендерная площадка</div>
        <div class="lichn-kab">Личный кабинет</div>
        <div class="sign">Войти →</div>
      </div>
    </nav>

    <div class="main-title">
      ТЕНДЕРЫ. АНАЛИТИКА. УПРАВЛЕНИЕ ОТДЕЛОМ. ПРОВЕРКА КОНТРАГЕНТОВ
    </div>
    <main>
      <div class="grey">ЕСЛИ ВЫ</div>
      <div class="z">
        — Пропускаете выгодные контракты, а конкуренты обходят вас;
      </div>
      <div class="z">
        — Часто участвуете в тендерах, но не довольны результатом;
      </div>
      <div class="z">
        — Устали от ведения Excel-отчетов и потери важной информации в архивах
        электронной почты и на вашем столе;
      </div>
      <div class="z">
        — Хотите получать максимальную отдачу от тендеров и регулярную прибыль;
      </div>
      <div class="x">
        СРОЧНО ПОДКЛЮЧАЙТЕСЬ К ПЕРВОЙ СИСТЕМЕ УПРАВЛЕНИЯ ТЕНДЕРАМИ И
        СОТРУДНИКАМИ – EzTender.
      </div>
    </main>

    <div class="main">
      <div class="grey">EzTender изменит ваш бизнес</div>
      <div class="z">— У Вас будет много побед и прибыльных контрактов;</div>
      <div class="z">— Сможете легко управлять тендерным отделом;</div>
      <div class="z">— Упростится контроль процесса участия в тендерах;</div>
      <div class="z">— У Вас будет полная статистика участий;</div>
    </div>

    <footer>
      <table class="footer-contacts">
        <tr>
          <th class="contactsth">Контакты для частных клиентов</th>
          <th class="contactsth">Контакты для бизнес-клиентов</th>
        </tr>
        <tr>
          <th class="skiny contactsth">Городской и мобильный номер</th>
          <th class="skiny contactsth">A1 MTS Life :)</th>
          <th class="skiny contactsth">Мы в соцсетях</th>
        </tr>
        <tr class="a">
          <th>
            <div><img src="../pics/tel1.png" /></div>
            <div class="numb">148</div>
          </th>
          <th>
            <div><img src="../pics/tel2.png" /></div>
            <div class="numb">5-146-728</div>
          </th>
          <th>
            <div class="to">
              <img class="fb contactsth" src="../pics/fb.png" />
              <img class="inst contactsth" src="../pics/inst.png" /><img
                class="vk contactsth"
                src="../pics/vk.png"
              /><img class="tw contactsth" src="../pics/tw.png" />
            </div>
          </th>
        </tr>
      </table>
    </footer>

    <div class="consalt">
      <div class="title">Можете задать вопрос консультанту</div>
      <textarea class="cons-inp"></textarea>
      <button class="cons-btn">Отправить</button>
    </div>
  </body>
  <script src="./mainMenu.js"></script>
</html>
